body {
  font-family: "Dosis", sans-serif;
  /* background-color: burlywood !important; */
}

.navBar {
  background-color: #316dc3;
  color: white;
}
.menuIcon {
  background-color: #316dc3;
  color: white;
}

.navLink:hover {
  text-decoration: none;
}

.sideMenu {
  background-color: #316dc3;
  color: white;
}

/* footer */

.footer {
  background-color: #316dc3;
  color: white;
}



#chatBox{
  float: right;
  
}
/* CSS talk bubble */
.talk-bubble {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  /* position: relative; */
  width: 200px;
  height: auto;
  background-color: lightgreen;
}
.border {
  border: 8px solid #666;
}
.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* talk bubble contents */
.talktext {
  padding: 10px;
  text-align: left;
  line-height: 15px
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
